<div id="app-root">
  <ng-container *ngIf="mostrarFormulario === 'registro'">
    <app-registro></app-registro>
    <div class="formulario-links">
      <button (click)="cambiarFormulario('sesion')">Ir a Inicio de Sesión</button>
      <button (click)="cambiarFormulario('restablecer')">Olvidaste tu Contraseña?</button>
    </div>
  </ng-container>

  <ng-container *ngIf="mostrarFormulario === 'sesion'">
    <app-sesion></app-sesion>
    <div class="formulario-links">
      <button (click)="cambiarFormulario('registro')">Registrate</button>
      <button (click)="cambiarFormulario('restablecer')">Olvidaste tu Contraseña?</button>
    </div>
  </ng-container>
  
  <ng-container *ngIf="mostrarFormulario === 'restablecer'">
    <app-restablecer></app-restablecer>
    <div class="formulario-links">
      <button (click)="cambiarFormulario('registro')">Registrate</button>
      <button (click)="cambiarFormulario('sesion')">Ir a Inicio de Sesión</button>
    </div>
  </ng-container>
</div>